</br></br>
<%if logged_in? && current_user.admin?%>
<%= link_to "New Other Expense", new_otherexpense_path, class: "btn btn-primary" %>
<%end%>

<h1 align="center">Listing Common Electrical Share</h1>
<table class=" table table-bordered" data-sort-name="name" data-sort-order="desc">
  <thead>
    <tr>
    	<th data-field="Name" data-sortable="true">Name</th>
      <th data-field="Description" data-sortable="true">Description</th>
      <th data-field="Amount" data-sortable="true">Amount(Rs)</th>
      <th data-field="Month" data-sortable="true">Month</th>
      <%if logged_in? && current_user.admin?%>
      <th data-field="Action" data-sortable="true">Action</th>
      <%end%>
    </tr>
  </thead>

   <tbody> 
   <% obj.each do |expense| %> 

      <tr>
      <td><%=expense.name%></td>
      <td><%=expense.description%></td>  
      <td><%=expense.amount%></td> 
      <td><%=expense.month%></td>
      <%if logged_in? && current_user.admin?%>
      <td>
       <%= link_to "Delete expense", otherexpense_path(expense), method: :delete,
            data: {confirm: "Are you sure you want to delete the expense?"},
                class: "btn btn-xs btn-danger" %> 
      </td>       
      <%end%>
      </tr>
  <%end%>      
  </tbody>
</table>
